{% extends "layout.html" %}
{% block body %}

    <div class="flex gap-3 bg-gray-200 p-3 rounded-xl lg:mb-4">
        <button
            type="button"
            class="inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
            Recommended
        </button>
        <button
            type="button"
            class="inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
            New
        </button>
        <button
            type="button"
            class="inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
            Top
        </button>
        <button
            type="button"
            class="inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
            Trending
        </button>

    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <label for="title">Title</label>
            <input type="text" name="title" required>
            <br>
            <label for="body">Body</label>
            <textarea name="description" id="" cols="30" rows="10" required></textarea>
            <br>
            <label for="image">Images</label>
            <input type="file" name="image" accept="image/*">
            <br>
            <label for="pdf_file">Pdf file</label>
            <input type="file" name="pdf_file" accept=".pdf">
            <br>
            <input type="submit">
        </form>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endif %}
    <div>
        {% for post in posts %}
            <div id={{post.id}} data-csrf="{{csrf_token}}" class="p-2 bg-blue-200 width-screen rounded-lg">
                <div class="flex p-2 items-align text-lg">
                    <a href="#" class="mr-4">
                        <img
                            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                            class="w-14 h-14 rounded-full"
                            alt="Profile"
                        />
                    </a>
                    {{post.user.username}}
                </div>
                
                <div class="text-4xl ml-2 mb-2">
                    {{post.title}}
                </div>
                <div class="whitespace-normal break-all ml-2 mb-2">
                    {{post.description}}
                </div>
                {% if post.image %}
                    <img src="{{post.image.first.image.url}}" width="200px">
                {% endif %}
                {% if post.file %}
                    <div><a href="{{post.file.url}}" download="">download</a></div>
                {% endif %}
                <div class="select-none m-2">
                    {% if user.is_authenticated %}
                        {% if user in post.like.all %}
                            <i class="fa-solid fa-thumbs-up cursor-pointer like-unlike" id="unlike"></i>
                        {% else %}
                            <i class="fa-regular fa-thumbs-up cursor-pointer like-unlike" id="like"></i>
                        {% endif %}
                    {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                    {% endif %}
                    <span id="like-count">{{post.like.count}}</span>
                </div>
                
                <div class="m-2">
                    {% if user == post.user %}
                    <button id="delete_post">Delete</button>
                    {% endif %}
                </div>
                
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
    <script>
        const like_buttons = document.querySelectorAll(".like-unlike")
        const delete_buttons = document.querySelectorAll("#delete_post")
        like_buttons.forEach((like) =>{
            like.addEventListener("click", () => {
                const post = like.parentElement.parentElement
                const like_count = post.querySelector("#like-count")
                fetch(`/${post.id}/edit`, {
                    method : "POST",
                    headers : {
                        "Source" : "like_unlike",
                        "Content-Type" : "application/json",
                        "X-CSRFToken" : post.dataset.csrf
                    },
                    body : JSON.stringify({
                        perform : like.id
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
                if (like.id == "like"){
                    like.id = "unlike"
                    like.classList.remove("fa-regular")
                    like.classList.add("fa-solid")
                    like_count.innerText = parseInt(like_count.innerText) + 1
                }
                else{
                    like.id = "like"
                    like.classList.remove("fa-solid")
                    like.classList.add("fa-regular")
                    like_count.innerText = parseInt(like_count.innerText) - 1
                }
            })
        })

        delete_buttons.forEach((button) => {
            button.addEventListener("click", () => {
                const post = button.parentElement
                post.style.display = "none";
                fetch(`/${post.id}/edit`, {
                        method : "DELETE",
                        headers : {
                            "Source" : "delete_post",
                            "Content-Type" : "application/json",
                            "X-CSRFToken" : post.dataset.csrf
                        },
                        body : JSON.stringify({
                            perform : "delete"
                        })
                    })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
            })
        })
        
    </script>
{% endblock %}