{% extends "layout.html" %}
{% block body %}

    <div class="flex gap-3 bg-gray-100 p-3 pl-8 items-center rounded-2xl lg:mb-4">
        <a
            href="/search?sort=top"
            class="bg-opacity-50 group flex items-center w-max text-sm px-4 py-1 bg-blue-200 text-base leading-6 font-medium rounded-2xl hover:bg-blue-300 hover:text-black">
            Top
        </a>
        <a
            href="/search?sort=new"
            class="bg-opacity-50 group flex items-center w-max text-sm px-4 py-1 bg-blue-200 text-base leading-6 font-medium rounded-2xl hover:bg-blue-300 hover:text-black">
            New
        </a>
        <a
            href="/search?sort=following"
            class="bg-opacity-50 group flex items-center w-max text-sm px-4 py-1 bg-blue-200 text-base leading-6 font-medium rounded-2xl hover:bg-blue-300 hover:text-black">
            Following
        </a>
    </div>
    <div>
        {% for post in posts %}
        <div class="h-max w-full bg-gray-100 flex p-8 pb-0">
            <div class="border bg-white w-full rounded-2xl p-6">
                <div class="flex items-center	justify-between">
                    <div class="gap-3.5	flex items-center ">
                        <img src="https://images.unsplash.com/photo-1617077644557-64be144aa306?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="object-cover bg-yellow-500 rounded-full w-10 h-10" />
                        <div class="flex flex-col">
                            <b class="capitalize">{{ post.user.username }}</b>
                            <time datetime="06-08-21" class="te xt-gray-400 text-xs date_posted">{{post.date|date:"Y-m-d H:i:s e"}}</time>
                        </div>
                    </div>
                </div>
                <a href="{% url 'post' post.id%}">
                <div class="whitespace-pre-wrap text-4xl mt-5">{{post.title}}</div>
                </a>
                <div class="text-4xl flex flex-col mt-2">
                    <div class="flex mt-1">
                        <a href="{% url 'index' %}" class="mr-1 bg-opacity-50 mt-1 group flex items-center w-max text-sm px-4 py-1 mb-3 text-base bg-blue-200 leading-6 font-medium rounded-2xl hover:bg-blue-300 hover:text-black">
                            Category{{post.category.category}}
                        </a>
                        <a href="{% url 'index' %}" class="bg-opacity-50 mt-1 group flex items-center w-max px-4 text-sm py-1 mb-3 text-base bg-blue-200 leading-6 font-medium rounded-full hover:bg-blue-300 hover:text-black">
                            Level{{post.level.level}}
                        </a>
                    </div> 
                </div>
                <a href="{% url 'post' post.id%}">
                <div class="whitespace-pre-line break-all text-xl -mt-4 wrap">
                    {{post.description}}
                </div>
                </a>
                {% if post.image %}
                    <div class="mt-5 flex gap-2	justify-center border-b pb-4 flex-wrap">
                        {% for image in post.image.all %}
                            <img src="{{image.image.url}}" class="bg-red-500 rounded-2xl w-1/3 object-cover h-96 flex-auto">
                        {% endfor %}
                    </div>
                {% endif %}
                    <div class=" h-16 border-b  flex items-center justify-around">
                        
                        <div class="flex items-center gap-3 cursor-pointer">
                            {% if user in post.likes.all %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bulb-filled" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" /><path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" /><path d="M9.7 17l4.6 0" /></svg>
                                <div class="text-sm">X Bulbs</div>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bulb" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" /><path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" /><path d="M9.7 17l4.6 0" /></svg>
                                <div class="text-sm">X Bulbs</div>
                            {% endif %}
                        </div>

                        <div class="flex items-center gap-3 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            </svg>
                            <div class="text-sm">10 Comments</div>
                        </div>
                        <div class="flex items-center cursor-pointer gap-3">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-share" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M8.7 10.7l6.6 -3.4" /><path d="M8.7 13.3l6.6 3.4" /></svg>
                            <div class="text-sm">Share</div>
                        </div>
                        <div class="flex items-center cursor-pointer">
                            {% if post in request.user.saved_post.all %}
                                <svg class="mr-2 h-6 w-6 cursor-pointer" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
                                    <path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                                </svg>
                                <div class="text-sm">Saved</div>
                            {% else %}
                                <svg class="mr-2 h-6 w-6 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24">
                                    <path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                                </svg>
                                <div class="text-sm">Save</div>
                            {% endif %}
                        </div>
                    </div>

            </div>
        </div>
        {% endfor %}
    </div>
    {% load static %}
    <script src="{% static 'js/post.js' %}"></script>

{% endblock %}