{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/a5bfed6ea6.js" crossorigin="anonymous"></script>
        <style type="text/tailwindcss">
            @layer utilities {
              .primary-c {
                background-color: #6A994E;
              }
              .secondary-c{
                background-color: #003E1F;
              }
            }

          </style>
        <title>Document</title>
    </head>

    <body>
        <nav class="primary-c p-3 fixed w-full z-20">
            <div class="flex justify-between items-center">
                <!-- Logo -->
                <a href="{% url 'index'%}" class="ml-2 text-white text-4xl font-bold text-center"
                    >Notebook</a
                >
                <!-- Search Bar -->
                <form class="pt-2 relative text-gray-600 w-1/3" action="/search">
                    <input
                        class="border-2 border-gray-300 w-full pl-3 bg-white h-9 pr-20 rounded-lg text-sm focus:outline-none"
                        type="search"
                        name="s"
                        placeholder="Search"
                    />
                    <button
                        type="submit"
                        class="absolute right-0 bottom-2 mt-5 mr-4"
                    >
                        <svg
                            class="text-gray-600 h-4 w-4 fill-current"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1"
                            id="Capa_1"
                            x="0px"
                            y="0px"
                            viewBox="0 0 56.966 56.966"
                            style="enable-background: new 0 0 56.966 56.966"
                            xml:space="preserve"
                            width="512px"
                            height="512px"
                        >
                            <path
                                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
                            />
                        </svg>
                    </button>
                </form>
                <div class="flex space-x-2 items-center">
                    <!-- Notifications -->
                    <a href="" class="text-amber-400 ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell-filled" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14.235 19c.865 0 1.322 1.024 .745 1.668a3.992 3.992 0 0 1 -2.98 1.332a3.992 3.992 0 0 1 -2.98 -1.332c-.552 -.616 -.158 -1.579 .634 -1.661l.11 -.006h4.471z" stroke-width="0" fill="currentColor"></path>
                            <path d="M12 2c1.358 0 2.506 .903 2.875 2.141l.046 .171l.008 .043a8.013 8.013 0 0 1 4.024 6.069l.028 .287l.019 .289v2.931l.021 .136a3 3 0 0 0 1.143 1.847l.167 .117l.162 .099c.86 .487 .56 1.766 -.377 1.864l-.116 .006h-16c-1.028 0 -1.387 -1.364 -.493 -1.87a3 3 0 0 0 1.472 -2.063l.021 -.143l.001 -2.97a8 8 0 0 1 3.821 -6.454l.248 -.146l.01 -.043a3.003 3.003 0 0 1 2.562 -2.29l.182 -.017l.176 -.004z" stroke-width="0" fill="currentColor"></path>
                         </svg>
                    </a>
                    <!-- Profile -->
                    <a href="#" class="text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                         </svg>
                    </a>
                </div>
            </div>
        </nav>

        <div class="h-screen p-relative w-1/5 secondary-c pt-28 fixed z-10 hidden lg:block text-white">
            <!-- Buttons -->
            <div class="items-center flex flex-col justify-center">
                <a href="{% url 'index'%}" class="bg-opacity-50 mt-1 group flex items-center w-3/4 px-4 py-3 mb-3 text-base bg-lime-100 leading-6 font-medium rounded-full hover:bg-green-900 hover:text-green-300">
                    <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                        <path d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6"></path>
                    </svg>
                    Home
                </a>
                <a href="/search?sort=saved" class="bg-opacity-50 mt-1 group flex items-center w-3/4 px-4 py-3 mb-3 text-base bg-lime-100 leading-6 font-medium rounded-full hover:bg-green-900 hover:text-green-300">
                    <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                        <path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                    </svg>
                    Bookmarks
                </a>
                <a href="{% url 'create' %}" class="bg-opacity-75 mt-1 group flex items-center w-3/4 px-4 py-3 mb-3 text-base bg-green-500 leading-6 font-medium rounded-full hover:bg-green-900 hover:text-green-300">
                    <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                        <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                    </svg>
                    Post
                </a>
            </div>
            <div class="flex flex-col ml-8 p-2 text-white"> 
                <h1 class="font-bold font-large mt-8">Subject</h1>
                <div class="flex items-center mt-2">
                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium">Math</label>
                </div>  
                <div class="flex items-center mt-2">
                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium">Physics</label>
                </div>
                <div class="flex items-center mt-2">
                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium">Computer Science</label>
                </div>

                <h1 class="font-bold font-large mt-12">Grade Level</h1>
                <div class="flex items-center mt-2">
                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium">1-10</label>
                </div>
                <div class="flex items-center mt-2">
                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium">+2</label>
                </div>
                <div class="flex items-center mt-2">
                    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium">Bachelors</label>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div>signed in as <b>{{user.username}}</b></div>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <div>Not signed in</div>
                <a href="{% url 'login' %}">Login</a>
            {% endif %} 
        </div>

        <div class="w-full lg:w-4/5 absolute right-0 pt-24 lg:px-6">
            <div class="mt-6">
                {% block body %} 
                {% endblock %}
            </div>
        </div>
    </body>
</html>
