{% extends "layout.html" %}
{% load static %}

{% block body %}
    <div id={{post.id}} class="p-4 px-6 bg-blue-200 width-screen mr-8 rounded-lg" data-csrf="{{csrf_token}}">
        <div class="flex items-align text-lg">
            <a href="#" class="mr-4 mb-2">
                <img
                    src="{% if post.user.pp %}{{post.user.profile_picture.url}}{% else %}https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png {% endif %}"
                    class="w-14 h-14 rounded-full"
                    alt="Profile"
                />
            </a>
            <div>
                {{post.user.username}}
            </div>
            {% if user == post.user %}
                <button class="" id="delete_post">Delete</button>
            {% endif %}
        </div>
        <div class="text-4xl mb-2">
            {{post.title}}
        </div>
        <div class="whitespace-pre-line break-words mb-2">
            {{post.description}}
        </div>
        {% if post.image %}
            <div class="flex gap-3">
                {% for image in post.image.all %}
                    <img src="{{image.image.url}}" width="200px">
                {% endfor %}
            </div>
        {% endif %}
        {% if post.file %}
        <div><a href="{{post.file.url}}" download="">download</a></div>
        {% endif %}
        <div class="flex gap-3 p-2 pl-0 items-align">
                <div class="select-none mx-1">
                {% if user.is_authenticated %}
                    {% if user in post.like.all %}
                        <i class="fa-solid fa-thumbs-up cursor-pointer like-unlike" id="unlike"></i>
                    {% else %}
                        <i class="fa-regular fa-thumbs-up cursor-pointer like-unlike" id="like"></i>
                    {% endif %}
                {% else %}
                    <i class="fa-regular fa-thumbs-up"></i>
                {% endif %}
                <span id="like-count">{{post.like.count}}</span>
                </div>
                {% if user.is_authenticated %}
                {% if user in post.saved_by.all %}  
                    <button class="flex mr-1" type="button" id="unsave" onclick="save_post(event)">
                            <svg class="h-6 w-6 select-none" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                                <path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                            </svg>
                        <span class="text-content">Unsave</span>
                    </button>
                {% else %}
                    <button class="flex items-center" type="button" id="save" onclick="save_post(event)">
                        <svg class="h-5 w-5 select-none mr-1" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                        </svg>
                        <span class="text-content">Save</span>
                    </button>    
                {% endif %}
            </div>     
    {% endif %}
        </div>
        <div class="text-3xl my-4">Comments</div>
    {% if user.is_authenticated %}
        <div class=" mb-2 mt-2">
            <textarea id="post_comment" name="comment"
                class="w-full bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-20 py-2 px-3 placeholder-gray-700 focus:outline-none focus:bg-white"
                placeholder="Write a comment..." required></textarea>
        </div>
        <div class="flex justify-end px-2">
            <button type="button"
                onclick="post_comment('{{post.id}}', '{{csrf_token}}')"
                class="px-2.5 py-1.5 rounded-md text-white text-sm bg-indigo-500">
                Add comment
            </button>
        </div>
    {% endif %}
    <br>
    {% if post.post_comments.all %}
        {% for comment in post.post_comments.all %}
            <h1>{{comment.user.username}}</h1>
            <div class="whitespace-pre-line break-words mb-2">
                {{comment.comment}}
            </div>
            <br>
        {% endfor %}
    {% else %}
        <div>None</div>
    {% endif %}
    <script src="{% static 'js/post.js' %}"></script>
    <script>
        function post_comment(id, csrf){
            const comment = document.querySelector("#post_comment")
            fetch(`/post/${id}`, {
                method : "POST",
                headers : {
                    "Source" : "post_comment",
                    "Content-Type" : "application/json",
                    "X-CSRFToken" : csrf
                },
                body : comment.value
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.success == true){
                    comment.value = ""
                }
                else{
                    alert("error while posting comment")
                }
            })
        }

        function save_post(event){
            const save_button = event.currentTarget
            console.log(save_button)
            const post = save_button.parentElement.parentElement
            
            fetch(`/post/${post.id}`, {
                method : "POST",
                headers : {
                    "Source" : "save_post",
                    "Content-Type" : "application/json",
                    "X-CSRFToken" : post.dataset.csrf
                },
                body : JSON.stringify({
                    perform : save_button.id
                }) 
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                if (data.success == true){
                    if (save_button.id == "save"){
                        save_button.querySelector('span').innerText = 'Unsave'
                        save_button.id = "unsave"
                    }
                    else{
                        save_button.querySelector('span').innerText = 'Save'
                        save_button.id = "save"
                    }
                }
                else{
                    alert("error while saving")
                }
            })
        }
    </script>
{% endblock %}