{% extends "layout.html" %}
{% block body %}
{% load static %}
{% load filters %}

    {% if not profile %}
        <!--Error-->
        <div>
            <img src="https://lh6.googleusercontent.com/Bu-pRqU_tWZV7O3rJ5nV1P6NjqFnnAs8kVLC5VGz_Kf7ws0nDUXoGTc7pP87tyUCfu8VyXi0YviIm7CxAISDr2lJSwWwXQxxz98qxVfMcKTJfLPqbcfhn-QEeOowjrlwX1LYDFJN">
        </div>
    {% else %}

        <div class="h-max bg-gray-200 p-8">
            <div class="bg-white rounded-lg shadow-xl pb-8">
                <div class="w-full h-[250px] bg-blue-200">
                </div>
                <div class="flex flex-col items-center -mt-20">
                <label class="border-4 border-white rounded-full relative">
                    <img src="{{profile.profile_picture.url}}" class="w-40 h-40 rounded-full object-cover bg-black bg-opacity-50" id="profile_picture">
                    {% if user == profile %}
                        <div class="opacity-0 rounded-full bg-gray-900 text-white hover:opacity-75 h-full w-full absolute start-0 top-0 flex justify-center items-center cursor-pointer">Change Picture</div>
                        <input type="file" accept="image/*" id="change_pp" class="cursor-pointer" data-csrf="{{csrf_token}}" hidden>
                    {% endif %}
                </label>

                <div>
                    <button type="button" id="save_pp" class="btn rounded-lg m-2 p-1 px-4 font-semibold cursor-pointer bg-green-500 text-white hover:bg-green-600" hidden>Save</button>
                    <button type="button" id="cancel_pp" class="btn rounded-lg m-2 p-1 px-4 font-semibold cursor-pointer bg-gray-400 text-white hover:bg-gray-500" hidden>Cancel</button>
                </div>
                
                <div class="flex items-center mt-2">
                    <p class="text-4xl">{{ profile.username }}</p>
                </div>
                <p class="text-gray-700">Occupation</p>
                </div>
                {% if user.is_authenticated and user != profile %}
                    <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
                        <div class="flex items-center space-x-4 mt-2">
                            {% if not user in profile.follower.all %}
                                <button type="button" class="btn rounded-full p-1 px-4 font-semibold cursor-pointer ml-2 bg-green-500 border-2 border-green-500 text-white hover:bg-green-900 hover:border-green-900 hover:text-green-300 follow_unfollow" 
                                id="follow" data-csrf="{{csrf_token}}">Follow</button>
                            {% else %}
                                <button type="button" 
                                class="btn rounded-full p-1 px-4 font-semibold cursor-pointer ml-2 text-black bg-white border-2 border-black hover:text-red-800 hover:border-red-800 follow_unfollow" 
                                id="unfollow" data-csrf="{{csrf_token}}">Unfollow</button>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
    
            <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
                <div class="w-full flex flex-col relative 2xl:w-1/3">
                    <div class="flex-1 bg-white rounded-lg relative shadow-xl p-8 profileInfo">
                        <div id="edit_info" class="self-end absolute right-0 top-0 m-2 p-2 rounded-full hover:bg-gray-100 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                <path d="M13.5 6.5l4 4" />
                            </svg>
                        </div>
                        <h4 class="text-xl text-gray-900 font-bold">Personal Info</h4>
                        <div class="mt-3 text-gray-700">
                            <li class="flex border-b py-2">
                                <span class="font-bold w-24">Full name:</span>
                                <span class="text-gray-700 outline-none" contenteditable="false" id="fullName">___</span>
                            </li>
                            <li class="flex border-b py-2">
                                <span class="font-bold w-24">Education:</span>
                                <span class="text-gray-700 outline-none" contenteditable="false" id="userEducation">___</span>
                            </li>
                            <li class="flex border-b py-2">
                                <span class="font-bold w-24">Birthday:</span>
                                <input type="date">
                            </li>
                            <li class="flex border-b py-2">
                                <span class="font-bold w-24">Location:</span>
                                <span class="text-gray-700 outline-none" contenteditable="false" id="userLocation">___</span>
                            </li>
                            <li class="flex border-b py-2">
                                <span class="font-bold w-24">Email:</span>
                                <span class="text-gray-700">{{profile.email}}</span>
                            </li>
                            <div class="mr-auto w-max flex gap-2 mt-4">
                                <button type="button" id="save_info" class="btn rounded-lg p-1 px-4 font-semibold cursor-pointer bg-green-500 text-white hover:bg-green-600" hidden>Save</button>
                                <button type="button" id="cancel_info" class="btn rounded-lg p-1 px-4 font-semibold cursor-pointer bg-gray-400 text-white hover:bg-gray-500" hidden>Cancel</button>
                            </div>
                        </div>
                        <h4 class="text-xl text-gray-900 font-bold mt-8">Following</h4>
                        <div class="mt-3 text-gray-700">
                            <li class="flex border-b py-2">
                                <span class="font-bold w-24">User-1</span>
                                <span class="text-gray-700">___</span>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-full relative 2xl:w-2/3">
                    <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
                        {% if user == profile %}
                            <div class="self-end absolute right-0 top-0 m-2 p-2 rounded-full hover:bg-gray-100 cursor-pointer" id="edit_about">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                    <path d="M13.5 6.5l4 4" />
                                </svg>
                            </div>
                        {% endif %}
                        <h4 class="text-xl text-gray-900 font-bold">About</h4>
                        <p contenteditable="false" class="mt-2 text-gray-700 outline-none" id="about">{{profile.about}}</p>
                        <div class="count w-max ml-auto text-gray-400 text-xs font-semibold" id="char-count" hidden>0/200</div>
                        <div class="ml-auto w-max flex gap-2 mt-2">
                            <button type="button" id="save_about" class="btn rounded-lg p-1 px-4 font-semibold cursor-pointer bg-green-500 text-white hover:bg-green-600" hidden>Save</button>
                            <button type="button" id="cancel_about" class="btn rounded-lg p-1 px-4 font-semibold cursor-pointer bg-gray-400 text-white hover:bg-gray-500" hidden>Cancel</button>
                        </div>
                    </div>
                    
                    <div class="flex-1 bg-white rounded-lg shadow-xl mt-4 p-8">
                    <h4 class="text-xl text-gray-900 font-bold mb-4">Posts</h4>  
                    {% if profile.user_posts.count > 0 %}
                        <div class="flex gap-3 bg-gray-100 p-3 items-center rounded-2xl lg:mb-4">
                            <a
                                href="?sort=new"
                                id="sortby"
                                class="group flex items-center w-max text-sm px-4 py-1 text-base leading-6 font-medium rounded-2xl
                                {% if request.GET.sort != 'top' and request.GET.sort != 'old' %}
                                    bg-black text-white
                                {% else %}
                                    bg-gray-300 hover:bg-gray-400 hover:text-black
                                {% endif %}
                                ">
                                New
                            </a>
                            <a
                                href="?sort=top"
                                class="group flex items-center w-max text-sm px-4 py-1 text-base leading-6 font-medium rounded-2xl
                                {% if request.GET.sort == 'top' %}
                                    bg-black text-white
                                {% else %}
                                    bg-gray-300 hover:bg-gray-400 hover:text-black
                                {% endif %}
                                ">
                                Top
                            </a>
                            <a
                                href="?sort=old"
                                class="group flex items-center w-max text-sm px-4 py-1 text-base leading-6 font-medium rounded-2xl 
                                {% if request.GET.sort == 'old' %}
                                    bg-black text-white
                                {% else %}
                                    bg-gray-300 hover:bg-gray-400 hover:text-black
                                {% endif %}
                                ">
                                Old
                            </a>
                        </div>
                    {% endif %}

                    {% if profile.user_posts.count > 0 %}
                        {% if request.GET.sort == 'old' %}

                            {% for post in profile.user_posts.all %}
                                {% include 'filter_posts.html' with post=post %}
                            {% endfor %}

                        {% elif request.GET.sort == 'top' %}

                            {% for post in profile.user_posts.all|sort_by_likes %}
                                {% include 'filter_posts.html' with post=post %}
                            {% endfor %}

                        {% else %}

                            {% for post in profile.user_posts.all|dictsortreversed:"date" %}
                                {% include 'filter_posts.html' with post=post %}
                            {% endfor %}
                        
                        {% endif %}

                    {% else %}
                    <div class=" pt-4 w-full h-full flex flex-col items-center">
                        <img src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-2506.jpg?w=1060&t=st=1700829588~exp=1700830188~hmac=e3cf6566cd6637616430db8a0f042ca617299ad62d74ccbf9b1e24673a22dfb9"
                        class="h-1/2 w-1/4">
                        <div class="text-5xl font-bold mb-6 cursor-default">No Posts Found</div>
                        <a href="https://www.freepik.com/free-vector/no-data-concept-illustration_8961448.htm#query=empty&position=0&from_view=search&track=sph&uuid=60e0c3dd-7c81-4886-8a15-fa5205cf6a71"
                        class="text-xs">Image by storyset  on Freepik</a>
                    </div>  
                    {% endif %}

                    </div>
                </div>
            </div>
        </div> 
    {% endif %}

    <script src="{% static 'js/post.js' %}"></script>
    {% if user == profile %}
        <script>

            window.onscroll = function() {
                var sidebar = document.querySelector('.profileInfo');
                var threshold = 500;

                if (window.pageYOffset > threshold) {
                    sidebar.classList.value = 'sticky h-screen top-20 w-full bg-white rounded-lg shadow-xl p-8 profileInfo';
                } else if (window.pageYOffset <= threshold) {
                    sidebar.classList.value = 'flex-1 bg-white rounded-lg relative shadow-xl p-8 profileInfo'
                };
            };

            document.addEventListener("DOMContentLoaded", () => {
                //  Profile pic change
                const save_button = document.querySelector("#save_pp")
                const cancel_button = document.querySelector("#cancel_pp")
                const change_pp = document.querySelector("#change_pp")
                const pp = document.querySelector("#profile_picture")
                var previous_pp = pp.src
                const formData = new FormData();

                change_pp.addEventListener("change", () => {
                    save_button.hidden = false
                    cancel_button.hidden = false

                    const filesList = change_pp.files
                    formData.set("file", filesList[0]);

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        pp.src = e.target.result;
                    };
                    reader.readAsDataURL(filesList[0])
                })

                cancel_button.addEventListener("click", () => {
                    pp.src = previous_pp
                    cancel_button.hidden = true
                    save_button.hidden = true
                    change_pp.value = ""
                })

                save_button.addEventListener("click", () => {
                    fetch("", {
                        method : "POST",
                        headers : {
                            "Source" : "change_pp",
                            "X-CSRFToken" : change_pp.dataset.csrf
                        },
                        body : formData
                    })
                    .then(response=>response.json())
                    .then(data=>{
                        if (data["success"] == true){
                            cancel_button.hidden = true
                            save_button.hidden = true
                            change_pp.value = ""
                            previous_pp = pp.src

                        }else{
                            alert("Some error occured!")
                        }    
                    })
                })  


                const about = document.querySelector("#about")
                const edit_about = document.querySelector("#edit_about")
                const save_about = document.querySelector("#save_about")
                const cancel_about = document.querySelector("#cancel_about")

                const uname = document.querySelector('#fullName')
                const ueducation = document.querySelector('#userEducation')
                const birth = document.querySelector('#userBrithday')
                const location = document.querySelector('#userLocation')

                const edit_info = document.querySelector("#edit_info")
                const save_info = document.querySelector("#save_info")
                const cancel_info = document.querySelector("#cancel_info")

                const char_count = document.querySelector("#char-count")
                
                var about_text = about.innerText
                var name_text = uname.innerText

                edit_info.onclick = () => {
                    save_info.hidden = false
                    cancel_info.hidden = false

                    uname.contentEditable = true;
                    ueducation.contentEditable = true;
                    location.contentEditable = true;
                }
                



                edit_about.onclick = () => {
                    save_about.hidden = false
                    cancel_about.hidden = false
                    char_count.hidden = false
                    char_count.innerText = `${about.innerText.length}/200`

                    // Make about section editable
                    about.contentEditable = true

                    about.focus();       
                }

                cancel_info.onclick = () => {
                    save_info.hidden = true
                    cancel_info.hidden = true
                }

                about.addEventListener("input", () => {

                    if (about.innerText.length > 200) {
                        about.innerText = about.innerText.slice(0, 200);
                    }
                    char_count.innerText = `${about.innerText.length}/200`
                    
                })

                save_about.onclick = () => {
                    fetch("", {
                        method : "PUT",
                        headers : {
                            "Source" : "edit_about",
                            "Content-Type" : "application/json",
                            "X-CSRFToken" : change_pp.dataset.csrf
                        },
                        body : about.innerText
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if (data.success == true){
                            about.contentEditable = false
                            save_about.hidden = true
                            cancel_about.hidden = true
                            char_count.hidden = true
                            about_text = about.innerText
                        }
                        else{
                            alert("An error occured!")
                        }
                    })
                }

                cancel_about.onclick = () => {
                    about.innerText = about_text
                    about.contentEditable = false
                    save_about.hidden = true
                    cancel_about.hidden = true
                    char_count.hidden = true
                }
            })
        </script>
    {% endif %}
    {% if user.is_authenticated and user != profile %}
        <script>
            document.querySelector(".follow_unfollow").onclick = (event) => {
                button = event.target
                fetch("", {
                    method : "POST",
                    headers : {
                        "Source" : "follow_unfollow",
                        "Content-Type" : "application/json",
                        "X-CSRFToken" : button.dataset.csrf
                    },
                    body : JSON.stringify({
                        perform : button.id
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data["success"] == true){
                        console.log(button)
                        if (button.id == "follow"){
                            button.id = "unfollow"
                            button.innerText = "Unfollow"
                            button.classList.value = "btn rounded-full p-1 px-4 font-semibold cursor-pointer ml-2 text-black bg-white border-2 border-black hover:text-red-800 hover:border-red-800 follow_unfollow"
                        }else{
                            button.id = "follow"
                            button.innerText = "Follow"
                            button.classList.value = "btn rounded-full p-1 px-4 font-semibold cursor-pointer ml-2 text-white bg-green-500 border-2 border-green-500 hover:bg-green-900 hover:border-green-900 hover:text-green-300 follow_unfollow"
                        }
                    }
                })
            } 
        </script>
    {% endif %}
{% endblock %}